@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

.active {
  background-color: #DFDFDC;
  color: black;
}

select,input,textarea {
  border: 1px solid black;
  border-radius: 0.375rem;
  outline-color: olive;
}